<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>
<body>
    {% extends 'halls/base.html' %}

{% block content %}

<div class="container">
    <h2>Create Your own Hall</h2>
    <form action="" method="post">
        {% csrf_token %}
        {% load widget_tweaks %}

        {% for field in form %}
        <div class="form-group {% if field.errors %}alert alert-danger {% endif %} ">
            {{ field.errors }}
            {{ field.label_tag }}
            {% render_field field class="form-control" %}   
            <!-- It decorates the forms -->
        </div>
        {% endfor %}

        <p>
        <button type="submit" class="btn btn-success">Create</button>
    </p>
    </form>
</div>

{% endblock %}
</body>
</html>